body {
    font-family:  Roboto, 'Helvetica Neue', sans-serif;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: white;
    padding: 5px;
    color: #126e7a;
}

form {
    width: 95%;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}


input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: white;
  width: 100%;
  border-radius: 0px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav {
    float: left;
}

li a {
    display: block;
    color: #126e7a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: rgb(45, 134, 150);
}

.attendanceTable {
    width: 80%;
}

.formInput {
    padding: 3%;
}

.tableInput {
    width: 5%;
}

#logOutBtn, .submit, .cancel, .next{
    float: right;
    text-align: right;
}

form {
    text-align: center;
    width: 60%;
}

h3 {
    margin: 0px;
}

.paymentMethod {
    margin-left: 5%;
}

#personalForm, #lessonsForm, #paymentMethodForm {
    margin-left: 20%;
    margin-top: 0px;
    width: 60%;
    padding-Top: 0;
    text-align: left;
}

#registrationTitle {
    text-align: center;
}

#role, #admission {
    flex-direction: row;

}

#admissionControl, #roleControl{
    padding-top: 5%;
}

#roleControl, #roleRadio {
    margin-right: 80px;
}

.formControl {
    float: right;
}

.lead {
    margin: 0;
    font-size: 150%;
}

#logo {
    height: 35px;
}


.lead {
    text-align: center;
}

#discount {
    font-size: 75%;
    margin-top: 0px;
}

#confirm{
    width: 300px;
    padding: 4%;
}

.confirmBtn {
    float: left;
    text-align: center;
}

h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 4px;
}

#edit {
    width: 400px;
    padding: 3%;
}